/* ------------------------------     G E N E R A L      ---------------------------- */

* {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0.5em 19em;
}

/* ------------------------------     H E A D E R       ---------------------------- */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: 0.2em solid black;
    flex-wrap: wrap; /* Permet à l'en-tête de s'adapter sur plusieurs lignes si nécessaire */
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 1em;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

.nom p {
    font-size: 2em;
    margin: 0.5em 0; /* Ajoutez une marge pour un meilleur espacement */
}


/* ------------------------------     B O D Y       ---------------------------- */

#aboutme {
    margin-bottom: 2.5em;
}

.about {
    display: flex;
    justify-content:flex-start;
}

.about img {
    height: 20em;
    margin-left: 1em;
    margin-top: 1em; /* Ajoutez une marge supérieure pour espacer les éléments */

}

.about p {
    font-size: 1.1em;
    padding-right: 2em;
}

#aboutme h2 {
    font-size: 1.6em;
    margin-bottom: 0.2em;
}

#projects {
    margin-bottom: 2.5em;
}

#projects h2 {
    font-size: 1.6em;
    margin-bottom: 0.2em;
}

#projects ul {
   list-style: circle;
}

#projects a {
    text-decoration: none;
    color: green;
    font-size: 1.2em;
 }

 #skills {
    margin-bottom: 2.5em;
 }

 #skills h2 {
    font-size: 1.6em;
    margin-bottom: 0.2em;
 }

 #skills img {
    height: 3em;
    width: 3em;
    margin-right: 2em;
    margin-top: 1em; /* Ajoutez une marge supérieure pour espacer les éléments */
 }

 #contact img {
    height: 3em;
    width: 3em;
 }

 /* ------------------------------     F O O T E R       ---------------------------- */

 footer {
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    border-top: 0.2em solid black;
 }

 /* ------------------------------     M E D I A   Q U E R I E S     ---------------------------- */

 @media (max-width: 1200px) {
    body {
        margin: 0.5em 5%; /* Réduire les marges sur les écrans plus petits */
    }

    .about {
        flex-direction: column; /* Passe en mode colonne pour les écrans plus petits */
        align-items: center;
    }

    .about img {
        margin: 0;
        margin-top: 1em;
    }

    .about p {
        text-align: center; /* Centre le texte pour les écrans plus petits */
    }

    #contact {
        text-align: center; /* Centre le texte de la section contact */
    }

    #contact div {
        display: flex;
        justify-content: center; /* Centre les images horizontalement */
        flex-wrap: wrap; /* Permet aux images de se réorganiser sur plusieurs lignes si nécessaire */
    }

    #contact img {
        margin: 0.5em; /* Espace entre les images */
        width: auto; /* Conserve les dimensions des images */
        height: 3em; /* Ajustez la hauteur si nécessaire pour correspondre à l'apparence souhaitée */
    }

    h2 {
        text-align: center; /* Centre les titres <h2> */
    }
}

@media (max-width: 768px) {
    body {
        margin: 0.5em 2%; /* Réduire encore les marges pour les petits écrans */
    }

    header {
        flex-direction: column;
        align-items: center;
        text-align: center; /* Centre le contenu de l'en-tête */
    }

    nav ul {
        width: auto;
        padding: 0;
        justify-content: center; /* Centrez les éléments du menu */
        flex-direction: row; /* Maintenir l'affichage horizontal */
    }

    .about {
        text-align: center; /* Centre le contenu de la section about */
    }

    .about img {
        width: 100%;
        height: auto; /* Ajuste l'image pour qu'elle prenne toute la largeur disponible */
    }

    .about p {
        padding: 0;
    }

    #projects ul, #skills div {
        text-align: center; /* Centre le contenu des sections projects et skills */
        padding: 0;
    }

    #projects li, #skills img {
        margin: 0.5em 0; /* Ajoute une marge entre les éléments */
    }

    #contact {
        text-align: center; /* Centre le texte de la section contact */
    }

    #contact div {
        display: flex;
        justify-content: center; /* Centre les images horizontalement */
        flex-wrap: nowrap; /* Les images restent sur la même ligne, pas de retour à la ligne */
    }

    #contact img {
        margin: 0.5em; /* Espace entre les images */
        width: 3em; /* Largeur fixe pour les images, ajustez selon vos besoins */
        height: 3em; /* Hauteur fixe pour les images, ajustez selon vos besoins */
    }

    h2 {
        text-align: center; /* Centre les titres <h2> */
    }
}