/* ------------------------------     G E N E R A L      ---------------------------- */

* {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0.5em 19em;
}

/* ------------------------------     H E A D E R       ---------------------------- */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: 0.2em solid black;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 1em;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

.nom p {
    font-size: 2em;
}


/* ------------------------------     B O D Y       ---------------------------- */

#aboutme {
    margin-bottom: 2.5em;
}

.about {
    display: flex;
    justify-content:flex-start;
}

.about img {
    height: 20em;
    margin-left: 1em;
}

.about p {
    font-size: 1.1em;
    padding-right: 2em;
}

#aboutme h2 {
    font-size: 1.6em;
    margin-bottom: 0.2em;
}

#projects {
    margin-bottom: 2.5em;
}

#projects h2 {
    font-size: 1.6em;
    margin-bottom: 0.2em;
}

#projects ul {
   list-style: circle;
}

#projects a {
    text-decoration: none;
    color: green;
    font-size: 1.2em;
 }

 #skills {
    margin-bottom: 2.5em;
 }

 #skills h2 {
    font-size: 1.6em;
    margin-bottom: 0.2em;
 }

 #skills img {
    height: 3em;
    width: 3em;
    margin-right: 2em;
 }

 #contact img {
    height: 3em;
    width: 3em;
 }

 /* ------------------------------     F O O T E R       ---------------------------- */

 footer {
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    border-top: 0.2em solid black;
 }